---    
- block:
  - name: Login to RHV
    redhat.rhv.ovirt_auth:
      hostname: "{{ rhvm_fqdn }}"
      username: "{{ rhvm_user }}"
      password: "{{ rhvm_password }}"
      ca_file: "{{ rhvm_cafile | default(omit) }}"
      insecure: "{{ rhvm_insecure | default(true) }}"

  - name: Pull snapshot ID for a VM
    redhat.rhv.ovirt_snapshot_info:
      auth: "{{ ovirt_auth }}"
      vm: "{{ vm_name }}"
      description: "{{ snapshot_desc }}"
    register: snapshot

  - name: Stop VM
    redhat.rhv.ovirt_vm:
      auth: "{{ ovirt_auth }}"
      name: "{{ vm_name }}"
      state: stopped
      wait: true

  - name: Restore from Snapshot
    redhat.rhv.ovirt_snapshot:
      auth: "{{ ovirt_auth }}"
      vm_name: "{{ vm_name }}"
      snapshot_id: "{{ snapshot.ovirt_snapshots[0].id }}"
      state: restore
      wait: true

  - name: Start VM
    redhat.rhv.ovirt_vm:
      auth: "{{ ovirt_auth }}"
      name: "{{ vm_name }}"
      state: running
      wait: true

  always:
    - name: Logout from RHV
      redhat.rhv.ovirt_auth:
        state: absent
        ovirt_auth: "{{ ovirt_auth }}"
