---
- name: Change facts if running Windows
  ansible.builtin.set_fact:
    sku: '2016-Datacenter'
    publisher: "MicrosoftWindowsServer"
    offer: "WindowsServer"
  when: operating_system is match("Win.*")

- name: Change facts if running RHEL8
  ansible.builtin.set_fact:
    sku: 'rhel-lvm84'
    plan_name: "Red Hat Enterprise Linux 8.4 (BYOS)"
  when: operating_system == "RHEL8"

- name: Provision instance RHEL
  azure.azcollection.azure_rm_virtualmachine:
    resource_group: "{{ resource_group_name }}"
    name: "{{ item }}"
    storage_account: "{{ storage_account_name }}"
    admin_username: "{{ azureuser }}"
    admin_password: "{{ azurepassword }}"
    vm_size: "{{ vm_size }}"
    open_ports:
      - 22
      - 80
      - 443
    accept_terms: yes
    image:
      publisher: "{{ publisher }}"
      offer: "{{ offer }}"
      version: "{{ version }}"
      sku: "{{ sku }}"
    plan:
      name: "{{ sku }}"
      product: "{{ offer }}"
      publisher: "{{ publisher }}"
  loop: "{{ vm_names }}"
  when: publisher == "redhat"

- name: Provision instance Windows
  azure.azcollection.azure_rm_virtualmachine:
    resource_group: "{{ resource_group_name }}"
    name: "{{ item }}"
    storage_account: "{{ storage_account_name }}"
    admin_username: "{{ azureuser }}"
    admin_password: "{{ azurepassword }}"
    vm_size: "{{ vm_size }}"
    os_type: Windows
    open_ports:
      - 22
      - 5985
      - 5986
      - 80
      - 443
    image:
      publisher: "{{ publisher }}"
      offer: "{{ offer }}"
      version: "{{ version }}"
      sku: "{{ sku }}"
  register: azure_vm
  loop: "{{ vm_names }}"
  when: publisher == "MicrosoftWindowsServer"

- name: Create VM script extension to enable HTTPS WinRM listener
  azure_rm_virtualmachineextension:
    name: winrm-extension
    resource_group: "{{ resource_group_name }}"
    virtual_machine_name: "{{ item }}"
    publisher: Microsoft.Compute
    virtual_machine_extension_type: CustomScriptExtension
    type_handler_version: '1.9'
    settings: '{"fileUris": ["https://raw.githubusercontent.com/ansible/ansible/devel/examples/scripts/ConfigureRemotingForAnsible.ps1"],"commandToExecute": "powershell -ExecutionPolicy Unrestricted -File ConfigureRemotingForAnsible.ps1"}'
    auto_upgrade_minor_version: true
  loop: "{{ vm_names }}"
  when: publisher == "MicrosoftWindowsServer"

- name: Loop to verify WinRM
  ansible.builtin.include_tasks: enable_winrm_loop_azure.yml
  loop: "{{ vm_names }}"
  when: publisher == "MicrosoftWindowsServer"