---
# Change sku to 2022-Datacenter for Windows 2022
- name: Change facts if running Windows 2016
  ansible.builtin.set_fact:
    sku: '2016-Datacenter'
    publisher: "MicrosoftWindowsServer"
    offer: "WindowsServer"
  when: operating_system is match("Win2016")

- name: Change facts if running Windows 2025
  ansible.builtin.set_fact:
    sku: '2025-Datacenter'
    publisher: "MicrosoftWindowsServer"
    offer: "WindowsServer"
  when: operating_system is match("Win2025")

- name: Change sku if running RHEL8
  ansible.builtin.set_fact:
    sku: '8-lvm-gen2'
  when: operating_system == "RHEL8"

- name: Change sku if running RHEL9
  ansible.builtin.set_fact:
    sku: '9-lvm-gen2'
  when: operating_system == "RHEL9"

- name: Change sku if running RHEL10
  ansible.builtin.set_fact:
    sku: '10-lvm-gen2'
  when: operating_system == "RHEL10"

- name: Provision Resource Group
  azure.azcollection.azure_rm_resourcegroup:
    name: "{{ resource_group_name }}"
    location: "{{ azure_location }}"

- name: Provision Storage Account
  azure.azcollection.azure_rm_storageaccount:
    resource_group: "{{ resource_group_name }}"
    name: "{{ storage_account_name }}"
    type: "{{ storage_account_type }}"

- name: Provision instance RHEL
  azure.azcollection.azure_rm_virtualmachine:
    resource_group: "{{ resource_group_name }}"
    name: "{{ item }}"
    storage_account: "{{ storage_account_name }}"
    admin_username: "{{ azureuser }}"
    admin_password: "{{ azurepassword }}"
    vm_size: "{{ vm_size }}"
    managed_disk_type: Standard_LRS
    license_type: RHEL_BYOS
    open_ports:
      - 22
      - 80
      - 443
    image:
      publisher: "{{ publisher }}"
      offer: "{{ offer }}"
      version: "{{ version }}"
      sku: "{{ sku }}"
    tags:
      environment: "{{ env | default(omit) }}"
      owner: "{{ owner | default(omit) }}"
      operating_system: "RHEL"
  loop: "{{ vm_names }}"
  when: publisher == "RedHat"
  register: async_results
  async: 1000
  poll: 0

- name: Check RHEL VM Creation status
  ansible.builtin.async_status:
    jid: "{{ async_result_item.ansible_job_id }}"
  loop: "{{ async_results.results }}"
  loop_control:
    loop_var: "async_result_item"
  when: publisher == "RedHat"
  register: async_poll_results
  until: async_poll_results.finished
  retries: 100
  delay: 10

- name: Provision instance Windows
  azure.azcollection.azure_rm_virtualmachine:
    resource_group: "{{ resource_group_name }}"
    name: "{{ item }}"
    storage_account: "{{ storage_account_name }}"
    admin_username: "{{ azureuser }}"
    admin_password: "{{ azurepassword }}"
    vm_size: "{{ vm_size }}"
    os_type: Windows
    open_ports:
      - 22
      - 5985
      - 5986
      - 80
      - 443
    image:
      publisher: "{{ publisher }}"
      offer: "{{ offer }}"
      version: "{{ version }}"
      sku: "{{ sku }}"
    tags:
      environment: "{{ env | default(omit) }}"
      owner: "{{ owner | default(omit) }}"
      operating_system: "Windows"
  loop: "{{ vm_names }}"
  when: publisher == "MicrosoftWindowsServer"
  register: async_results
  async: 1000
  poll: 0

- name: Check Windows VM Creation status
  ansible.builtin.async_status:
    jid: "{{ async_result_item.ansible_job_id }}"
  loop: "{{ async_results.results }}"
  loop_control:
    loop_var: "async_result_item"
  when: publisher == "MicrosoftWindowsServer"
  register: async_poll_results
  until: async_poll_results.finished
  retries: 100
  delay: 10

- name: Create VM script extension to enable HTTPS WinRM listener
  azure.azcollection.azure_rm_virtualmachineextension:
    name: winrm-extension
    resource_group: "{{ resource_group_name }}"
    virtual_machine_name: "{{ item }}"
    publisher: Microsoft.Compute
    virtual_machine_extension_type: CustomScriptExtension
    type_handler_version: '1.9'
    settings: '{"fileUris": ["https://raw.githubusercontent.com/shadowman-lab/Ansible-Provision/main/roles/shadowman_provision/files/ConfigureRemotingForAnsible.ps1"],"commandToExecute": "powershell -ExecutionPolicy Unrestricted -File ConfigureRemotingForAnsible.ps1"}'
    auto_upgrade_minor_version: true
  loop: "{{ vm_names }}"
  when: publisher == "MicrosoftWindowsServer"

- name: Loop to verify WinRM
  ansible.builtin.include_tasks: enable_winrm_loop_azure.yml
  loop: "{{ vm_names }}"
  when: publisher == "MicrosoftWindowsServer"
