---
- name: Check for proper on prem VM name RHEL
  ansible.builtin.assert:
    that:
      - "'.shadowman.dev' in vm_name"
      - "'.ad.shadowman.dev' not in vm_name"
    fail_msg: "On Premise and AWS VM Name must include FQDN of .shadowman.dev for RHEL"
  when:
    - shadowman_provision_hypervisor != "Azure"
    - operating_system != "Win2016"
    - terraformmain != "gitops"

- name: Check for proper on prem VM name Windows
  ansible.builtin.assert:
    that: "'.ad.shadowman.dev' in vm_name"
    fail_msg: "On Premise and AWS VM Name must include FQDN of .ad.shadowman.dev for Windows"
  when:
    - shadowman_provision_hypervisor != "Azure"
    - operating_system == "Win2016"
    - terraformmain != "gitops"

# - name: RHV VM Create
#  ansible.builtin.include_tasks: rhv_vm_create.yml
#  when: shadowman_provision_hypervisor == "RHV"

- name: Azure VM Create
  ansible.builtin.include_tasks: azure_vm_create.yml
  when: shadowman_provision_hypervisor == "Azure"

- name: AWS VM Create
  ansible.builtin.include_tasks: aws_vm_create.yml
  when: shadowman_provision_hypervisor == "AWS"

- name: VMWare VM Create
  ansible.builtin.include_tasks: vmware_vm_create.yml
  when: shadowman_provision_hypervisor == "VMWare"

# - name: Terraform VMWare VM Create
#   ansible.builtin.include_tasks: terraform_vm_update_vmware.yml
#   when: shadowman_provision_hypervisor == "Terraformvmware"

# - name: RHV VM Wait
#   ansible.builtin.include_tasks: rhv_wait.yml
#   when: shadowman_provision_hypervisor == "RHV"

- name: VMWare VM Wait
  ansible.builtin.include_tasks: vmware_wait.yml
  when: shadowman_provision_hypervisor == "VMWare"
