---
- name: Change facts if running Windows
  ansible.builtin.set_fact:
    operating_system_tag: "Windows"
  when: operating_system is match("Win.*")

- name: Create and run Linux VM
  vmware.vmware.deploy_folder_template:
    datacenter: "Shadowman-DC"
    datastore: '{{ datastore_id }}'
    cluster: '{{ cluster_id }}'
    vm_name: "{{ item }}"
    template_name: "{{ operating_system }}_ShadowMan"
    power_on_after_deploy: true
    vm_folder: '{{ folder_id }}'
    validate_certs: false
  loop: "{{ vm_names }}"
  when: operating_system is match("RHEL.*")
  register: async_results
  async: 1000
  poll: 0

- name: Check RHEL VM Creation status
  ansible.builtin.async_status:
    jid: "{{ async_result_item.ansible_job_id }}"
  loop: "{{ async_results.results }}"
  loop_control:
    loop_var: "async_result_item"
  when: operating_system is match("RHEL.*")
  register: async_poll_results
  until: async_poll_results.finished
  retries: 100
  delay: 10

- name: Create and run Windows VM
  community.vmware.vmware_guest:
    cluster: '{{ cluster_id }}'
    datastore: '{{ datastore_id }}'
    folder: '{{ folder_id }}'
    datacenter: "Shadowman-DC"
    name: "{{ item }}"
    state: "{{ state }}"
    template: "{{ source_vm_id }}"
    validate_certs: false
    networks:
      - name: LAN01
        start_connected: true
        connected: true
    customization:
      domain: ad.shadowman.dev
      autologon: true
      autologoncount: 1
      hostname: "{{ item.split('.')[0] }}"
      productid: "{{ productid }}"
      password: "{{ windowspassword }}"
      runonce:
        - powershell.exe -ExecutionPolicy ByPass -File C:\Windows\Temp\ConfigureRemotingForAnsible.ps1 -ForceNewSSLCert
  loop: "{{ vm_names }}"
  when: operating_system is match("Win.*")
  register: async_results
  async: 1000
  poll: 0

- name: Check Windows VM Creation status
  ansible.builtin.async_status:
    jid: "{{ async_result_item.ansible_job_id }}"
  loop: "{{ async_results.results }}"
  loop_control:
    loop_var: "async_result_item"
  when: operating_system is match("Win.*")
  register: async_poll_results
  until: async_poll_results.finished
  retries: 100
  delay: 10

- name: Ensure Tags are created
  vmware.vmware.tags:
    state: present
    validate_certs: false
    tags:
      - name: "{{ env }}"
        category_id: 'urn:vmomi:InventoryServiceCategory:4d358ccf-dbca-4fc8-8600-3e88ec1e09ff:GLOBAL'
      - name: "{{ owner }}"
        category_id: 'urn:vmomi:InventoryServiceCategory:1e759721-5b8c-4bc5-8550-ca042a4818b0:GLOBAL'

- name: Assign Tags
  vmware.vmware.tag_associations:
    object_type: VirtualMachine
    object_moid: "{{ lookup('vmware.vmware.moid_from_path', '/Shadowman-DC/vm/Lab virtual machine/' + item) }}"
    validate_certs: false
    tags:
      - name: ansible_managed
        category_name: purpose
      - name: "{{ operating_system_tag }}"
        category_name: operating_system
      - name: "{{ env | default('dev') }}"
        category_name: environment
      - name: "{{ owner | default('shadowman') }}"
        category_name: owner
    state: present
  loop: "{{ vm_names }}"

- name: Verify IP is assigned
  vmware.vmware.guest_info:
    datacenter: "Shadowman-DC"
    name: "{{ item }}"
    validate_certs: false
  register: vminfo
  loop: "{{ vm_names }}"
  retries: 10
  delay: 5
  until: vminfo.guests[0].ip_address is defined
