{
  "name": "Restore Survey",
  "description": "Choose Description you want to use to restore",
  "spec": [
    {
      "type": "multiplechoice",
      "question_name": "Use which snapshot?",
      "question_description": "Choose the snapshot description",
      "variable": "snapshot_desc",
      "choices": [
{% for snap in snapshot_info.guest_snapshots.snapshots %}
{% if loop.last %}
        "{{snap.name}}"
{% else %}
        "{{snap.name}}",
{% endif %}
{% endfor %}
      ],
      "required": true,
      "default": "{{snapshot_info.guest_snapshots.snapshots[0].name}}"
    }
  ]
}
