- name: Delete AWS Create EC2 Security Group for Windows
  amazon.aws.ec2_security_group:
    name: "{{ _security_group_ }}_Windows"
    state: absent
    region: "{{ _region_ }}"
  tags:
      - account

- name: Delete AWS Create EC2 Security Group for RHEL
  amazon.aws.ec2_security_group:
    name: "{{ _security_group_ }}_RHEL"
    state: absent
    region: "{{ _region_ }}"
  tags:
      - account

- name: Lookup Route Table
  amazon.aws.ec2_vpc_route_table_info:
    region: "{{ _region_ }}"
    filters:
      "tag:Name": "{{ _route_table_name_ }}"
  register: routetableresult
  tags:
      - account

- name: Delete VPC Public Subnet Route Table
  amazon.aws.ec2_vpc_route_table:
    vpc_id: "{{ routetableresult.route_tables[0].vpc_id }}"
    route_table_id: "{{ routetableresult.route_tables[0].route_table_id }}"
    lookup: id
    region: "{{ _region_ }}"
    state: absent
  when: routetableresult.route_tables[0].route_table_id is defined
  tags:
      - account

- name: Lookup VPC Subnet
  amazon.aws.ec2_vpc_subnet_info:
    region: "{{ _region_ }}"
    filters:
      "tag:Name": "{{ subnet_name }}"
  register: subnetresult
  tags:
      - account

- name: Delete EC2 VPC Subnet
  amazon.aws.ec2_vpc_subnet:
    state: absent
    vpc_id: "{{ subnetresult.subnets[0].vpc_id }}"
    cidr: "{{ subnetresult.subnets[0].cidr_block }}"
    region: "{{ _region_ }}"
  when: subnetresult.subnets[0].vpc_id is defined
  tags:
      - account

- name: Lookup Internet Gateway
  amazon.aws.ec2_vpc_igw_info:
    region: "{{ _region_ }}"
    filters:
      "tag:Name": "{{ igw_name }}"
  register: igwresult
  tags:
      - account

- name: Delete Internet Gateway for VPC
  amazon.aws.ec2_vpc_igw:
    vpc_id: "{{ igwresult.internet_gateways[0].attachments[0].vpc_id }}"
    region: "{{ _region_ }}"
    state: absent
  when: igwresult.internet_gateways[0].attachments[0].vpc_id is defined
  tags:
      - account

- name: Lookup VPC
  amazon.aws.ec2_vpc_net_info:
    region: "{{ _region_ }}"
    filters:
      "tag:Name": "{{ vpc_name }}"
  register: vpcresult
  tags:
      - account

- name: Delete VPC over AWS Cloud
  amazon.aws.ec2_vpc_net:
    vpc_id: "{{ vpcresult.vpcs[0].vpc_id }}"
    region: "{{ _region_ }}"
    state: absent
  when: vpcresult.vpcs[0].vpc_id is defined
  tags:
      - account
