---

- name: Unsubscribe RHEL
  ansible.builtin.include_tasks: rhel_unsubscribe.yml
  when: os is match("rhel.*")

- name: Unsubscribe Windows
  include_tasks: windows_unsubscribe.yml
  when: os is match("windows.*")
  tags: removead
