---
- block:
  - name: Login to RHV
    redhat.rhv.ovirt_auth:
      hostname: "{{ rhvm_fqdn }}"
      username: "{{ rhvm_user }}"
      password: "{{ rhvm_password }}"
      ca_file: "{{ rhvm_cafile | default(omit) }}"
      insecure: "{{ rhvm_insecure | default(true) }}"
    become: no
    delegate_to: localhost
    
  - name: RHEL Hostname Set
    ansible.builtin.hostname:
      name: "{{ inventory_hostname }}"

  - name: Restart qemu agent
    ansible.builtin.service:
      name: qemu-guest-agent
      state: restarted

  - name: Check if Linux VM has created fqdn
    redhat.rhv.ovirt_vm_info:
      auth: "{{ ovirt_auth }}"
      pattern: name={{ item }}
    register: result
    until:  result.ovirt_vms[0].fqdn is defined
    retries: 60
    delay: 5
    loop: "{{ ansible_play_batch }}"
    become: no
    delegate_to: localhost

  always:
  - name: Logout from RHV
    redhat.rhv.ovirt_auth:
      state: absent
      ovirt_auth: "{{ ovirt_auth }}"
    become: no
    delegate_to: localhost
    tags:
      - always
