{
    "name": "",
    "description": "",
    "spec": [
      {
        "question_name": "Which Terraform Build would you like to delete?",
        "question_description": "",
        "required": true,
        "type": "multiplechoice",
        "variable": "tf_build",
        "min": null,
        "max": null,
        "default": "",
        "choices": "{% for build in dir_out.stdout_lines %}{% if build != 'README.md' %}{{ build }}\n{% endif %}{% endfor %}",
        "new_question": true
      }
    ]
  }
