{% for item in vm_names %}
module "vm_{{ item.split('.')[0] }}"{
  source = "../modules/vms"
  vm_name = "{{ item }}"
  vm_memory = "{{ vm_memory_terraform }}"
  vm_template_id = "{{ vm_template }}"
}

output "vm_name_{{ item.split('.')[0]}}" {
  value = module.vm_{{ item.split('.')[0].name
}
{% endfor %}